# Ignore node_modules folder
Lecture_1.o/node_modules/

# Ignore environment variables file
Lecture_1.o/.env
Lecture_2/.env
Lecture_2/node_modules/
Legal_EaseChatBot/.env
Legal_EaseChatBot/node_modules/

Lecture_3/.env
Lecture_3/node_modules/